[submodule "wordman"]
	path = wordman
	url = git@github.com:ibrahimborba/wordman.git
[submodule "name-badges"]
	path = name-badges
	url = git@github.com:ibrahimborba/name-badges.git
[submodule "inspirational-quotes"]
	path = inspirational-quotes
	url = git@github.com:ibrahimborba/inspirational-quotes.git
[submodule "accident-counter"]
	path = accident-counter
	url = git@github.com:ibrahimborba/accident-counter.git
[submodule "angular-fundamentals-lessons"]
	path = angular-fundamentals-lessons
	url = git@github.com:ibrahimborba/angular-fundamentals-lessons.git
[submodule "enterprise-ui-dev"]
	path = enterprise-ui-dev
	url = git@github.com:ibrahimborba/enterprise-ui-dev.git
